*, *::after, *::before {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff);
}

@font-face {
  font-family: "PT Sans";
  src: url(../fonts/ptsans.woff2);
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;

  font-family: "PT Sans", "Arial", sans-serif;

  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  position: relative;
  min-height: 773px;

  background-image: url(../img/background-photo.jpg);
}

.wrapper {
  position: relative;

  margin: auto;
  width: 1200px;

  box-shadow: 1px 0px 12px -5px black;
}

.header {
  margin-bottom: 7px;
}

.header::before {
  content: "";

  position: absolute;
  top: 505px;
  left: 0px;
  width: 1200px;
  height: 59px;

  background-image: url(../img/polygon.png);
}

.header::after {
  content: "";

  position: absolute;
  top: 563px;
  left: 0px;
  width: 1200px;
  min-height: 217px;

  background-image: url(../img/layer.png);
}

.top-menu__left,
.top-menu__right {
  margin: 0px;
  padding: 0px;
}

.top-menu__left {
  display: inline-block;
  width: 600px;

  background-color: white;
} 

.top-menu__item {
  display: inline-block;

  list-style: none;
}

.top-menu__left,
.top-menu__right{
  padding-top: 15px;
  padding-bottom: 15px;
}

.top-menu__left-item {
  padding-right: 145px;
  padding-left: 70px;
}

.top-menu__right {
  width: 600px;

  background-color: white;
  
  float: right;
}

.top-menu__right-item {
  padding-left: 200px;
  padding-right: 160px;
}

.top-menu__link {
  text-decoration: none;

  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 26px;
  font-weight: bold;
  color: black;
  letter-spacing: 0.7px;
  text-transform: uppercase;
}

.top-menu__link:not([href]) {
  color: #766357;
}

.top-menu__link[href]:hover,
.top-menu__link[href]:focus {
  color: #81b3d2;

  outline: none;
}

.top-menu__link[href]:active {
  color: #c7c7c7;
}

.logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.welcome {
  position: absolute;
  top: 132px;
  left: 50%;
  transform: translateX(-50%);
}

.advantages-top {
  position: absolute;
  top: 623px;
  left: 350px;
  
  z-index: 1;
}

.advantages-top__title {
  margin: 0px;
  margin-bottom: 29px;

  width: 500px;

  font-size: 20px;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}

.advantages-top__description {
  margin: 0px;margin-left: 5px;

  font-size: 13px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
}

.advantages__items {
  display: flex;
  flex-direction: row;
}

.advantages-first__item,
.advantages-third__item {
  min-height: 256px;

  background-color: #81b3d2;
}

.advantages__items h2,
.advantages__items h3,
.advantages__items p {
  margin: 0px;
}

.advantages-first__item,
.advantages-third__item {
  color: white;
}

.advantages-first__title,
.advantages-third__title {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-first__title,
.advantages-third__title {
  padding-top: 47px;
  padding-bottom: 24px;
}

.advantages-first__title {
  padding-right: 137px;
  padding-left: 140px;
}

.advantages-third__title {
  padding-right: 119px;
  padding-left: 127px;
}

.advantages-first__number,
.advantages-third__number,
.advantages-fourth__number {
  padding-right: 175px;
  padding-bottom: 23px;
  padding-left: 179px;

  font-size: 14px;
}

.advantages-first__description,
.advantages-third__description {
  font-size: 13px;
  line-height: 22px;
  letter-spacing: 0.5px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-first__description {
  padding-right: 52px;
  padding-bottom: 57px;
  padding-left: 52px;
}

.advantages-third__description {
  padding-right: 40px;
  padding-bottom: 58px;
  padding-left: 40px;
}

.advantages-second__title,
.advantages-fourth__title {
  font-size: 21px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-second__title {
  padding-top: 162px;
  padding-bottom: 23px;
}

.advantages-second__description,
.advantages-fourth__description {
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-second__left,
.advantages-second__middle,
.advantages-second__right,
.advantages-fourth__left,
.advantages-fourth__middle,
.advantages-fourth__right {
  width: 403px;
}

.advantages-second__left,
.advantages-second__middle,
.advantages-second__right {
  position: relative;

  background-color: white;
}

.icon-home {
  position: absolute;
  top: 60px;
  left: 162px;

  width: 75px;
  height: 72px;
}

.advantages-second__left .advantages-second__description {
  padding-right: 65px;
  padding-bottom: 81px;
  padding-left: 65px;
}

.icon-hamburger {
  position: absolute;
  top: 61px;
  left: 162px;

  width: 75px;
  height: 70px;
}

.advantages-second__middle .advantages-second__description {
  padding-right: 52px;
  padding-bottom: 81px;
  padding-left: 52px;
}

.icon-souvenir {
  position: absolute;
  top: 55px;
  left: 168px;

  width: 64px;
  height: 77px;
}

.advantages-second__right .advantages-second__description {
  padding-right: 40px;
  padding-bottom: 81px;
  padding-left: 40px;
}

.advantages-fourth__title {
  padding-top: 49px;
  padding-right: 140px;
  padding-bottom: 24px;
  padding-left: 140px;

  line-height: 21px;
}

.advantages-fourth__middle .advantages-fourth__title {
  letter-spacing: 0.5px;
}

.advantages-fourth__left .advantages-fourth__description {
  padding-right: 95px;
  padding-bottom: 60px;
  padding-left: 95px;
}

.advantages-fourth__middle .advantages-fourth__description {
  padding-right: 70px;
  padding-left: 70px;
}

.advantages-fourth__right .advantages-fourth__description {
  padding-left: 75px;
  padding-right: 75px;
}

.wrapper-bottom {
  position: relative;
}

.search {
  background-color: white;
}

.search__title {
  margin: 0px;
  padding: 51px 450px 25px 453px;

  font-size: 29px;
  text-transform: uppercase;
  letter-spacing: 0.6px;
}

.search__description {
  margin: 0px;
  padding-right: 300px;
  padding-bottom: 48px;
  padding-left: 300px;

  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
}

.search__button {
  margin-left: 317px;
  padding: 30px 136px 30px 138px;

  border: none;

  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.6px;

  background-color: #766357;
}

.search__button:hover,
.search__button:focus {
  background-color: #604e43;
}

.search__button:hover,
.search__button:focus {
  outline: none;
}

.search__button:active {
  color: #857871;

  background-color: #503e33;
}

.wrapper-bottom__map {
  background-color: white;
}

.footer {
  position: absolute;
  bottom: 0px;

  display: flex;
  flex-direction: row;
  width: 1200px;
  min-height: 120px;
  
  background-color: white;

  opacity: 0.9;
}

.footer__contacts {
  padding: 26px 10px 17px 123px;
  width: 375px;

  font-size: 20px;
  line-height: 33px;
}

.footer__hash-tag {
  color: black;
  font-weight: bold;
  letter-spacing: 0.8px;
  text-decoration: none;
  text-transform: uppercase;

}

.footer__phone {
  font-weight: bold;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.footer__social-items {
  display: flex;
  flex-direction: row;
  padding: 36px 10px 36px 149px;
}

.footer__social-link {
  position: relative;

  width: 46px;
  height: 48px;

  font-size: 0px;

  background-color: #81b3d2;
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: #669ec0;

  outline: none;
}

.footer__social-link:active {
  background-color: #5496bd;
}

.footer__social-link:not(:last-child) {
  margin-right: 6px;
}

.icon-twitter {
  position: absolute;
  top: 15px;
  left: 15px;

  width: 17px;
  height: 18px;
}


.icon-facebook {
  position: absolute;
  top: 13px;
  left: 17px;

  width: 12px;
  height: 22px;
}

.icon-youtube {
  position: absolute;
  top: 16px;
  left: 13px;

  width: 20px;
  height: 16px;
}

.social-twitter:active .icon-twitter,
.social-fb:active .icon-facebook,
.social-youtube:active .icon-youtube {
  opacity: 0.3;
}

.footer__copyrite {
  padding: 48px 218px 49px 219px;
}

.footer__copyrite-title {
  font-size: 14px;
  text-transform: uppercase;
}

.footer__copyrite-academy {
  position: relative;

  font-size: 0px;
}

.icon-logo {
  position: absolute;
  top: -25px;
  left: 4px;

  width: 115px;
  height: 41px;

  fill: #231F20;
}

.icon-logo:hover,
.icon-logo:focus {
  fill: #81b3d2;
}

.icon-logo:active {
  fill: #bdbbbc;
}

.search-form {
  position: absolute;
  bottom: 201px;
  left: 392px;

  width: 567px;
  min-height: 395px;

  background-color: white;
}

.search-form__wrapper {
  padding: 55px;

  width: 567px;
  height: 173px;
}

.search-form,
.search-form__button {
  text-transform: uppercase;
}

::-webkit-input-placeholder {
  text-transform: uppercase;
  color: inherit;
}

::-moz-placeholder {
  text-transform: uppercase;
  color: inherit;
}

:-moz-placeholder {
  text-transform: uppercase;
  color: inherit;
}

:-ms-input-placeholder {
  text-transform: uppercase;
  color: inherit;
}

.input-label,
.departure-label,
.search-form span,
.input,
.departure {
  font-size: 14px;
  font-weight: bold;
  line-height: 26px;
  letter-spacing: 0.3px;
}

.input-label {
  padding-right: 17px;
}

.departure-label {
  padding-right: 14px;
}

.input:hover,
.input:focus,
.departure:hover,
.departure:focus {
  outline: none;
}

.input,
.departure {
  padding: 6px 180px 6px 12px;

  border: none;

  background-color: #f2f2f2;
}

.input:hover,
.departure:hover {
  background-color: #ebebeb;
}

.input:focus,
.departure:focus {
  padding: 4px 178px 4px 10px;

  border: 2px solid #e5e5e5;

  background-color: white;
}

.input {
  margin-bottom: 30px;
}
