/*Общие стили*/

@font-face {
  font-family:"PT Sans";
  src:
    url("../fonts/ptsans.woff") format("woff"),
    url("../fonts/ptsans.woff2") format("woff2");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"PT Sans bold";
  src:
    url("../fonts/ptsansbold.woff") format("woff"),
    url("../fonts/ptsansbold.woff2") format("woff2");
  font-weight:normal;
  font-style:normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 1.4rem;
  line-height: 1.1;
  color:#000000;
  text-transform: uppercase;

  background-color: #f1f1f1;
}

.wrapper {
  position: relative;

  margin: 0 auto;
  width: 1200px;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

/*Стили блока header*/

.header {
  position: relative;

  display: flex;
}

.header-logo {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.header__top-menu {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 1.9rem 0;
  margin: 0;
  width: 40%;
  
  list-style: none;
}

.top-menu__right {
  margin-left: auto;
}

.top-menu__link {
  font-weight: bold;
  line-height: 1.3;
  color: inherit;

  text-decoration: none;
  outline: none;
}

.top-menu__link--current {
  color: #766357;
}

.top-menu__link:not(.top-menu__link--current):hover,
.top-menu__link:not(.top-menu__link--current):focus {
  color: #81b3d2;
}

.top-menu__link:not(.top-menu__link--current):active {
  color: rgba(0, 0, 0, 0.3);
}

/*Стили блока intro*/

.intro {
  position: relative;

  background-image: url(../img/background-photo.jpg);
  background-repeat: no-repeat;
  background-position-y: -5.6rem;
}

.intro img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 7.6rem 0 8.1rem;
}

.intro::after {
  content: "";

  position: absolute;
  bottom: -1px;
  left: 0;

  width: 1200px;
  height: 59px;

  background-image: url(../img/polygon.png);
  background-repeat: no-repeat;
}

/*Стили блока advantages*/

.advantages__top {
  padding: 5.5rem 34rem;

  text-align: center;
}

.advantages__top-title {
  margin: 0 0 3.3rem;

  font-size: 2.1rem;
  font-weight: bold;
  line-height: 1.3;
}

.advantages__top-description {
  margin: 0;

  line-height: 1.3;
  color: #333333;
}

.advantages__first,
.advantages__second,
.advantages__third,
.advantages__fourth {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px 400px;
  grid-template-columns: 400px 400px 400px;
}

.advantages__first .advantages__item {
  -ms-grid-column: 1;
}

.advantages__first img {
  -ms-grid-column: 2;
}

.advantages__title,
.advantages__number,
.advantages__description {
  margin: 0;
}

.advantages__first .advantages__item,
.advantages__third .advantages__item {
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.advantages__first .advantages__item {
  padding: 4.4rem 5rem;
}

.advantages__second .advantages__item:first-child,
.advantages__fourth .advantages__item:first-child {
  -ms-grid-column: 1;
}

.advantages__second .advantages__item:nth-child(2),
.advantages__fourth .advantages__item:nth-child(2) {
  -ms-grid-column: 2;
}

.advantages__second .advantages__item:last-child,
.advantages__fourth .advantages__item:last-child {
  -ms-grid-column: 3;
}

.advantages__third .advantages__item {
  -ms-grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 4;
}

.advantages__title {
  margin-bottom: 2.5rem;

  font-size: 2rem;
  line-height: 1.1;
  letter-spacing: 0.05rem;
}

.advantages__number {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
}

.advantages__number::before,
.advantages__number::after {
  content: "";

  width: 9px;
  height: 2px;
  margin: 0 0.4rem;

  background-color: rgba(255, 255, 255, 0.5);
}

.advantages__fourth .advantages__number::before,
.advantages__fourth .advantages__number::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages__description {
  line-height: 1.5;
}

.advantages__second .advantages__item {
  padding: 6rem 5rem 8rem;

  text-align: center;
}

.advantages__second .advantages__description,
.advantages__fourth .advantages__number,
.advantages__fourth .advantages__description,
.search .search__description {
  color: #333333;
}

.icon-home {
  width: 7.5rem;
  height: 7.2rem;
}

.icon-hamburger {
  width: 7.5rem;
  height: 7rem;
}

.icon-souvenir {
  margin-top: -0.5rem;
  width: 6.4rem;
  height: 7.7rem;
}

.icon-home,
.icon-hamburger,
.icon-souvenir {
  margin-bottom: 2.5rem;
}

.advantages__third .advantages__item {
  padding: 4.4rem 4rem;
}

.advantages__fourth {
  background-color: #eeeeee;
}

.advantages__fourth .advantages__item {
  padding: 4.5rem 7.1rem 6rem;

  text-align: center;
}

/*Стили блока search*/

.search {
  padding: 5.2rem 10rem 0;

  text-align: center;
}

.search__title {
  margin: 0 0 2.8rem;
  font-size: 2.8rem;
  letter-spacing: 0.1rem;
}

.search__description {
  margin: 0 0 4.5rem;

  line-height: 1.8;
}

.button {
  padding: 0;

  font-family: inherit;
  text-transform: uppercase;
  color: #ffffff;

  border: none;
  background-color: transparent;
  outline: none;

  cursor: pointer;
}

.search__button {
  padding: 1.4em 6.6em;

  font-size: 2.1rem;
  font-weight: bold;
  line-height: 1.3;

  background-color: #766357;
}

.search__button:hover,
.search__button:focus {
  background-color: #604e43;
}

.search__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #503e33;
}

.map iframe {
  position: relative;
  z-index: 2;
}

.map__pic {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;

  display: block;
  width: 100%;
  height: auto;

  object-fit: cover;
}

/*Стили блока footer*/

.footer__index {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;

  background-color:rgba(255, 255, 255, 0.9);
}

.footer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 400px 400px;
  grid-template-columns: 400px 400px 400px;

  width: 100%;
}

.footer__contacts {
  -ms-grid-column: 1;
  padding: 2.7rem 4rem 2.7rem 12.5rem;
}

.footer__social {
  -ms-grid-column: 2;
}

.footer__copyrite {
  -ms-grid-column: 3;
}

.footer__hash-tag, 
.footer__phone,
.footer__phone-link {
  font-size: 2.1rem;
  font-weight: bold;
  line-height: 1.6;
  color: inherit;
  text-decoration: none;
}

.footer__phone-link {
  letter-spacing: 0.1rem;
}

.footer .footer__social,
.footer .footer__copyrite {
  text-align: center;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social-link {
  display: flex;
  width: 4.6rem;
  height: 4.8rem;

  font-size: 0;

  background-color: #81b3d2;
  outline: none;
}

.footer__social-link:not(:last-child) {
  margin-right: 0.6rem;
}

.footer__social-link:hover,
.footer__social-link:focus {
  background-color: #669eC0;
}

.footer__social-link:active {
  background-color: #5496bd;
}

.footer__social-link:active .icon-twitter,
.footer__social-link:active .icon-facebook,
.footer__social-link:active .icon-youtube {
  opacity: 0.3;
}

.icon-twitter {
  margin: auto;
  width: 17px;
  height: 17px;
}

.icon-facebook {
  margin: auto;
  width: 12px;
  height: 22px;
}

.icon-youtube {
  margin: auto;
  width: 20px;
  height: 16px;
}

.footer__copyrite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__copyrite-description {
  margin-right: 0.9rem;
}

.footer__copyrite-link {
  font-size: 0;

  outline: none;
}

.footer__copyrite-link:hover .icon-logo,
.footer__copyrite-link:focus .icon-logo {
  fill: #81b3d2;
}

.footer__copyrite-link:active .icon-logo {
  fill: #bdbbbc;
}

.icon-logo {
  width: 115px;
  height: 41px;
}

/*Стили модального окна popup-search*/

/*Стили для появления модального окна. Окно пока спрятанного выше кнопки*/
/*.hidden {
  position: absolute;
  bottom: 198px;
  left: 390px;
  
  width: 569px;
  overflow: hidden;
}*/

.popup-search {
  position: absolute;
  bottom: 198px;
  left: 390px;
  z-index: 10;
  
  /*Стиль для отображеия модального окна через @keyframes*/
  /*display: none;*/
  width: 569px;
  padding: 5.5rem 5.7rem;

  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

  /*Анимация при которой модальное окно заезжает под кнопку и пропадает*/
  /*transition: transform 0.5s linear;
  transform: translateY(-100%);*/

  /*Анимация при которой модальное окно исчезает равномерно уменьшаясь в масштабе*/
  transition: transform 0.5s linear;
  transform: scale(0);
}

/*Анимация для появления модального окна. Выезжает снизу окна и слегка подпрыгивает*/
/*@keyframes bounce {
  0% {transform: translateY(150%);}
  70% {transform: translateY(-10%);}
  85% {transform: translateY(5%);}
  100% {transform: translateY(0);}
}*/

.popup-search--open {
  z-index: 10;
  /*Стиль для появления модального окна через @reyframes*/
  /*display: block;

  /*Имя и время анимации при добавлении данного класса через script*/
  /*animation-name: bounce;
  animation-duration: 0.5s;*/

  /*Анимация при которой модальное окно выезжает из под кнопки*/
  /*transition: transform 0.5s linear;
  transform: translateY(0);*/

  /*Анимация при которой модальое окно появляется равномерно увеличиваясь в масштабе*/
  transition: transform 0.5s linear;
  transform: scale(1);
}

/*Анимация при которой модальное окно трясется если форма не заполнена*/
@keyframes shake {
  0%, 100% {transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
  20%, 40%, 60%, 80% {transform: translateX(10px);}
}


.popup-search--error {
  /*Имя и время анимации при добавлении класса об ошибке через script*/
  animation-name: shake;
  animation-duration: 0.5s;
}

.popup-search__date {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.popup-search__label,
.popup-search__guest,
.popup-search__number {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.3;
}

.popup-search__dates input[type="text"] {
  order: 2;

  margin-bottom: 2.9rem;
  padding: 1.1rem;
  width: 345px;

  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  color: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;

  border: none;
  outline: none;
}

.popup-search__dates input[type="text"]:hover {
  background-color: #ebebeb;
}

.popup-search__dates input[type="text"]:focus {
  background-color: transparent;

  outline: 2px solid #e5e5e5;
}

::-webkit-input-placeholder {
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  color: inherit;
  text-transform: uppercase;
}

::-moz-placeholder {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  color: inherit;
  text-transform: uppercase;
}

:-moz-placeholder { 
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  color: inherit;
  text-transform: uppercase;
}

:-ms-input-placeholder {
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: bold;
  color: inherit;
  text-transform: uppercase;
}

.popup-search__label {
  order: 1;
  position: relative;
}

.popup-search__label::after {
  content: "";
  position: absolute;
  top: -4px;
  left: 427px;

  width: 21px;
  height: 23px;

  background-image: url(../img/calendar.svg);
}

.popup-search__dates input[type="text"]:hover + .popup-search__label::after {
  background-image: url(../img/calendar-hover.svg);
}

.popup-search__dates input[type="text"]:focus + .popup-search__label::after {
  background-image: url(../img/calendar-focus.svg);
}

.popup-search__guests {
  display: flex;
  align-items: center;
  margin-bottom: 5.4rem;
}

.popup-search__number {
  display: flex;
}

.popup-search__number .minus,
.popup-search__number .plus {
  padding: 0;
  width: 38px;
  height: 40px;

  background-color: #f2f2f2;

  border: none;
  outline: none;

  cursor: pointer;
}

.popup-search__number .minus {
  background-image: url(../img/minus.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.popup-search__number .minus:hover,
.popup-search__number .minus:focus {
  background-image: url(../img/minus-hover.svg)
}

.popup-search__number .minus:active {
  background-image: url(../img/minus-active.svg);
}

.popup-search__number .plus {
  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.popup-search__number .plus:hover,
.popup-search__number .plus:focus {
  background-image: url(../img/plus-hover.svg)
}

.popup-search__number .plus:active {
  background-image: url(../img/plus-active.svg);
}

.popup-search__number span {
  padding: 1.1rem 1.52rem;

  background-color: #f2f2f2;
}

.popup-search__guests .popup-search__guest:first-child {
  margin-right: 3.8rem;
}

.popup-search__guests .popup-search__number:nth-child(2) {
  margin-right: 5.5rem;
}

.popup-search__guests .popup-search__guest:nth-child(3) {
  margin-right: 2.7rem;
}

.popup-search__button {
  width: 100%;
  padding: 1.5rem 0;

  font-size: 2.1rem;
  font-weight: bold;
  line-height: 1.3;

  background-color: #81b3d2;
}

.popup-search__button:hover,
.popup-search__button:focus {
  background-color: #669eC0;
}

.popup-search__button:active {
  background-color: #5496bd;

  color: rgba(255, 255, 255, 0.3);
}

/*Стили страницы hotels.html*/

/*Стили блока filter*/

.filter {
  display: flex;
  justify-content: space-between;
  padding: 2.7rem 7rem 3.3rem;

  background-image: url(../img/hotels__background.jpg);
  background-position-y: -5.6rem;
}

.filter__first {
  display: flex;
}

.filter__infrastructure,
.filter__house {
  display: flex;
  flex-direction: column;
}

.filter__infrastructure {
  margin-right: 11.5rem;
}

.infrastructure__title,
.house__title,
.range__title {
  margin: 0;

  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.3;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.infrastructure__title,
.house__title {
  margin-bottom: 2.7rem;
}

input[type="checkbox"] {
  display: none;
}

.infrastructure__label,
.house__label {
  position: relative;

  margin-left: 4.2rem;

  font-size: 1.4rem;
  line-height: 1.3;
  color: #ffffff;

  cursor: pointer;
}

.infrastructure__label::before,
.house__label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -40px;

  width: 23px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
}

input[type="checkbox"]:checked + .infrastructure__label::before,
input[type="checkbox"]:checked + .house__label::before {
  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
}

input[type="checkbox"]:disabled + .infrastructure__label::before,
input[type="checkbox"]:disabled + .house__label::before {
  background-image: url(../img/checkbox-off-disabled.svg);
}

input[type="checkbox"]:checked:disabled + .infrastructure__label::before,
input[type="checkbox"]:checked:disabled + .house__label::before {
  background-image: url(../img/checkbox-on-disabled.svg);
}

.infrastructure__label:not(:last-child),
.house__label:not(:last-child) {
  margin-bottom: 2.8rem;
}

.filter__second {
  display: flex;
  flex-direction: column;
}

.filter__range {
  margin-bottom: 5.4rem;
}

.range__title {
  margin-bottom: 1rem;
}

.range__description {
  position: relative;

  display: flex;
  justify-content: space-around;

  padding: 0.6em 0;
  width: 31.8rem;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.range__description::before {
  content: "";
  position: absolute;
  top: 5px;

  width: 2px;
  height: 22px;

  background-color: #ffffff;
}

.range__description span {
  font-size: 1.4rem;
  color: #ffffff;
}

.range__slider {
  position: relative;
}

.range__slider span {
  position: absolute;
}

.range-slider__line-grey {
  width: 31.8rem;
  height: 0.2rem;

  background-color: #867c7b;
}

.range-slider__line-white {
  width: 25rem;
  height: 0.2rem;

  background-color: #ffffff;
}

.range-slider__line-grey,
.range-slider__line-white {
  top: 20px;
}

.range-slider__first,
.range-slider__second {
  top: 11px;

  width: 20px;
  height: 22px;

  background-image: url(../img/filter-button.png);
  background-repeat: no-repeat;
}

.range-slider__second {
  left: 250px;
}

.filter__button {
  margin: 0 auto;
  padding: 0.6em 0;
  width: 13.7rem;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.filter__button:hover,
.filter__button:focus {
  color: #000000;

  background-color: #ffffff;
}

/*Стили блока sort*/

.sort {
  display: flex;
  align-items: baseline;
  padding: 3.1rem 7rem;

  border: 1px solid rgba(0,0,0,0.1);
}

.sort__found {
  margin-right: 5rem;

  font-size: 2.1rem;
  font-weight: bold;
}

.sort__title,
.sort__link {
  font-size: 1.2rem;
}

.sort__title {
  margin-right: 4rem;
}

.sort__link {
  font-family: inherit;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sort__link:not(:nth-of-type(3)) {
  margin-right: 3.3rem;
}

.sort__link:nth-of-type(3) {
  margin-right: auto;
}

.sort__link span {
  border-bottom: 1px dotted #81b3d2;
}

.sort__link:hover,
.sort__link:focus,
.sort__link--active {
  color:  #81b3d2;
}

.sort__link:active {
  color: #000000;
}

.sort__link:active span,
.sort__link--active span {
  border-bottom: none;
}

.sort__icon {
  position: relative;

  font-size: 0;
}

.sort__icon:before {
  content: "";
  position: absolute;
}

.sort__icon-up:before {
  top: -10px;
  left: -37px;

  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent #cacaca transparent;
}

.sort__icon-down:before {
  top: -12px;
  left: -14px;

  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: #cacaca transparent transparent transparent;
}

.sort__icon-up:hover:before,
.sort__icon-up:focus:before {
  border-color: transparent transparent #000000 transparent;
}

.sort__icon-down:hover:before,
.sort__icon-down:focus:before {
  border-color: #000000 transparent transparent transparent;
}

.sort__icon-up:active:before {
  border-color: transparent transparent  #81b3d2 transparent;
}

.sort__icon-down:active:before,
.sort__icon--active:before {
  border-color: #81b3d2 transparent transparent transparent;
}

/*Стили блока hotels*/

.hotels__item {
  display: flex;
  padding: 3rem 7rem;

  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.hotel__foto {
  margin-right: 3.3rem;
}

.hotel__description {
  margin-right: auto;
}

.hotel__title {
  font-size: 2.1rem;
  font-weight: bold;
  margin: 0 0 0.8rem;

  cursor: pointer;
}

.hotel__title:hover a,
.hotel__title:focus a {
  color: #81b3d2;
}

.hotel__title:active a {
  color: rgba(0, 0, 0, 0.3);
}

.hotel__container {
  display: flex;
}

.hotel__class-details,
.hotel__price-reservation {
  display: flex;
  flex-direction: column;
}

.hotel__class-details {
  margin-right: 0.5rem;
}

.hotel__class,
.hotel__price {
  display: block;
  margin-bottom: 1.7rem;

  color: #333333;
}

.hotel__button {
  padding: 0.4em 1.2em;

  font-weight: bold;
}

.button__blue {
  background-color: #81b3d2;
}

.button__blue:hover,
.button__blue:focus {
  background-color:  #669eC0;
}

.button__blue:active {
  background-color:  #5496bd;

  color: rgba(255, 255, 255, 0.3);
}

.button__brown {
  background-color: #766357;
}

.button__brown:hover,
.button__brown:focus {
  background-color:  #604e43;
}

.button__brown:active {
  background-color: #503e33;

  color: rgba(255, 255, 255, 0.3);
}

.hotel__rating {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hotel__star {
  margin-bottom: 4.3rem;
}

.star {
  margin-left: 0.1rem;
  width: 19px;
  height: 17px;
}

.rating {
  margin: 0;
  padding: 0.4em 1em;

  background-color: #f2f2f2;

  color: #666666;
}